<div class="search-navigation">
  <div class="row">
    <div class="col-xl-3 col-md-6 align-self-center">
      <div class="search-navigation-bar">
        <label class="mr-3" for="movie-search">Search Movie</label>
        <input
          id="movie-search"
          #movie
          (keyup.enter)="searchMovie(movie.value)"
        />
      </div>
    </div>
    <div class="col-xl-3 offset-xl-3 col-md-3 align-self-center">
      <div class="search-navigation-bar">
        <nav *ngIf="results" aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" (click)="prevPage($event)">Previous</a>
            </li>
            <li class="page-item">
              <a class="page-link" (click)="nextPage($event)">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="col-xl-3 col-md-3 align-self-center">
      <div *ngIf="results" class="search-navigation-bar">
        <p>
          {{ (page - 1) * 10 + 1 }} to {{ page * 10 }} of
          {{ results.totalResults }}
        </p>
      </div>
    </div>
  </div>
</div>
<div *ngIf="results">
  <div class="row">
    <div
      class="col-xl-2dot4 col-lg-3 col-md-4 col-sm-12 centered"
      *ngFor="let movie of results.Search"
    >
      <app-movie-card [omdb]=true [movie]="movie" [movieID]="movie.imdbID"></app-movie-card>
    </div>
  </div>
</div>
