<div class="search-movie-item">
  <div *ngIf="movie">
    <div class="row">
      <div class="col-xl-2 col-md-4">
        <img src={{movie.Poster}} />
      </div>
      <div class="col-xl-1 offset-xl-1 col-md-2 align-self-center">
        <div class="action-button-group">
          <button class="btn btn-success">Add</button>
        </div>
      </div>
      <div class="col-xl-4 offset-xl-3 col-md-6">
        <table class="table">
          <thead>
            <th>Property</th>
            <th>Description</th>
          </thead>
          <tbody>
            <tr>
              <td>Title</td>
              <td>{{movie.Title}}</td>
            </tr>
            <tr>
              <td>Rating</td>
              <td>{{movie.imdbRating}}/10</td>
            </tr>
            <tr>
              <td>Released</td>
              <td>{{movie.Released}}</td>
            </tr>
            <tr>
              <td>Runtime</td>
              <td>{{movie.Runtime}}</td>
            </tr>
            <tr>
              <td>Genre</td>
              <td>{{movie.Genre}}</td>
            </tr>
            <tr>
              <td>Production</td>
              <td>{{movie.Production}}</td>
            </tr>
            <tr>
              <td>Country</td>
              <td>{{movie.Country}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card shadow">
      <div class="card-body">
        <div class="card-title font-weight-bold">Plot</div>
        <div class="card-text">{{movie.Plot}}</div>
      </div>
    </div>
  </div>
</div>
