<div class="picture-card">
  <a (click)="navigateToDetails()">
    <img class="img-thumbnail" src="{{ movie.Poster }}" />
  </a>
  <p data-toggle="tooltip" data-placement="top" title="{{ movie.Title }}">
    {{ getTrimmedMovieTitle() }}
  </p>
  <button *ngIf="omdb" class="btn btn-success">Add</button>
</div>
